{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm, {
                'attr':{
            'class':'registre'
        }
    }) }}
        <div>
            <label for="inputEmail">Votre email :</label>
            {{ form_widget(registrationForm.email, {
                'attr':{
                    'class':'form-control',
                    'id':'inputEmail',
                    'type':'email',
                }
            })}}
        </div>    

            <div>
            <label for="name">Votre Nom :</label>
            {{ form_widget(registrationForm.name, {
                'attr':{
                    'class':'form-control',
                    'id':'name',
                    'type':'text',
                }
            })}}
        </div>    
        <div>
            <label for="firstname">Votre Prénom :</label>
            {{ form_widget(registrationForm.firstname, {
                'attr':{
                    'class':'form-control',
                    'id':'firstname',
                    'type':'text',
                }
            })}}
        </div>

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
